.footer {
  @apply bg-secondary-500 pt-32 px-8;

  &__container {
    @apply mx-auto;
    max-width: 76rem;
  }

  &__middle {
    @apply flex mt-14;

    &--tagline {
      @apply w-max text-9xl;
    }

    &--contacts {
      @apply space-y-9;
      margin-left: auto;
      transition: all ease-in-out 200ms;

      @media (min-width: 1280px) {
        margin-left: 25%;
      }
    }
  }

  &__bottom {
    @apply flex items-end justify-between mt-36;

    &--go {
      @apply relative p-0 rounded-none rounded-tl-full rounded-tr-full;
      @apply text-white text-4xl bg-neutral-900;
      width: 200px;
      height: calc(200px / 2);
      transition: all ease-in-out 200ms;

      @media (min-width: 1280px) {
        width: 358px;
        height: calc(358px / 2);
      }

      span {
        @apply absolute bottom-6 left-1/2;
        transform: translateX(-50%);
      }
    }

    &--socials {
      @apply flex space-x-8 mb-7;
    }
  }
}

.contact {
  @apply flex flex-col w-40 not-italic;

  &--title {
    @apply mb-3;
  }

  &--detail {
    @apply mb-2;
  }
}

.tagline {
  &__work {
    @apply relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 2px;
      background-color: black;
    }
  }

  &__together {
    @apply relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 16%;
      height: 2px;
      background-color: black;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      right: 18%;
      width: 50%;
      height: 2px;
      background-color: black;
    }
  }
}

.social {
  @apply relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 0.5px;
    background-color: black;
  }
}
